{
	# Enable Debug mode
	debug

	# Disable admin API
	admin off

}

localhost:8080 {
	# https://caddyserver.com/docs/caddyfile/directives/log
	log {
		output stdout
		format console
	}

	
	# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy
	reverse_proxy * {
		# Specify backend here
		to 127.0.0.1:4005
		to 127.0.0.1:4006

		lb_policy round_robin
		lb_try_duration 1s
		lb_try_interval 250ms

		health_path     /healthcheck # Backend health check path
		# health_port     80 # Default same as backend port
		health_interval 10s
		health_timeout  2s
		health_status   200
	}
}
